# General Ignores + IDE
.DS_Store
settings.xml
WEB-INF

# logs
logs/*.*

# NPM, Bower, ETC
**/node_modules/*
**/bower_components/*

## Ignored Dependencies
coldbox/*
testbox/*
modules/*
##**/apidocs/**
.vscode/*
ssl/*
.env
mysite4u-back.code-workspace
server.json
mysetup.json
project_workspace.code-workspace
